@model PProject.Models.ListViewModel<PProject.Models.Residents.ResidentViewModel>
@{
    ViewBag.Title = "Residents";
}

<div id="header" class="container" style="width:100%">
    <h2>Residents</h2>
    <a href="@Url.Action("EditResident", "Residents")"><i class="fas fa-plus fa-3x hoverable green-text"></i></a>
</div>


<div id="tableContainer" class="container">
    <table id="residentsTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th scope="col">Resident ID</th>
            <th scope="col">Phone</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">PESEL</th>
            @*Iterate each element in model for given row in table.*@
        </tr>
        </thead>
        <tbody>
        @if (Model?.Items?.Count > 0)
        {
            foreach (var resident in Model.Items)
             {
                 <tr>
                     <td>@resident.id_najemcy</td>
                     <td>@resident.nr_telefonu</td>
                     <td>@resident.imie</td>
                     <td>@resident.nazwisko</td>
                     <td>@resident.PESEL</td>
                 </tr>
             }
        }
        else
        {
            <tr>
                <td colspan="5" style="text-align: center">No items to display.</td>
            </tr>
        }

        </tbody>
    </table>
</div>



<script>
    ///Initializes the table.
    $(document).ready(function () {
        var table = $('#residentsTable').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>