@model PProject.Models.ListViewModel<PProject.Models.Residences.BuildingViewModel>
@{
    ViewBag.Title = "Buildings";
}
<div id="header" class="container" style="width:100%">
    <h2>@ViewBag.Title</h2>
    <a href="@Url.Action("EditBuilding", "Residences")"><i class="fas fa-plus fa-3x hoverable green-text"></i></a>
</div>
<div id="tableContainer" class="container">
    <table id="buildingsTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th class="col-sm-1"></th> <!--editing control-->
                <th scope="col">Building ID</th>
                <th scope="col">Address</th>
                @*Iterate each element in model for given row in table.*@
            </tr>
        </thead>
        <tbody>
            @if (Model?.Items?.Count > 0)
            {
                foreach (var building in Model.Items)
                {
                    <tr>
                        <td><a href="@Url.Action("GetBuildingDetails", "Residences")?buildingId=@building.id_budynku"><i class="fas fa-book mr-2 grey-text hoverable" aria-hidden="true"></i></a></td>
                        <td>@building.id_budynku</td>
                        <td>@building.adres_budynku</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" style="text-align: center">No items to display.</td>
                </tr>
            }

        </tbody>
    </table>
</div>

<script>
    ///Initializes the table.
    $(document).ready(function () {
        var table = $('#buildingsTable').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });

</script>
