@model PProject.Models.PaymentBills.PaymentBillViewModel
@{
    ViewBag.Title = "Edit Payment Bill";
}

<input value="@Model.id_wynajem" id="rentalId" style="visibility: hidden">
<input value="@Model.id_faktury" id="paymentBillId" style="visibility: hidden">

<div id="editInputs" class="container" style="float: left; width: 100%">
    <div class="jumbotron">
        <h2>@ViewBag.Title</h2>
        <div id="paymentBillValue" class="md-form">
            <input value="@Model.cena" type="number" min="0" step="any" id="paymentBillValueInput" class="quantity">
            <label for="paymentBillValueInput">Payment Value</label>
        </div>
        <div id="paymentBillDate" class="md-form">
            <input value="@(Model.data_platnosci?.ToString("u"))" type="text" id="paymentBillDateInput" class="form-control"
                   data-toggle="popover" data-trigger="focus" title="Wrong format" data-placement="Right" data-content="Date format incorrect. Try: yyyy-mm-dd hh:mm:ss.">
            <label for="paymentBillDateInput">Payment Bill Date</label>
        </div>
        <div id="paymentBillNumber" class="md-form">
            <input value="@Model.numer_faktury" type="number" min="0" step="1" id="paymentBillNumberInput" class="quantity">
            <label for="paymentBillNumberInput">Bill Number</label>
        </div>
    </div>
</div>

<div id="controlButtons" class="container" style="float: right">
    <button onclick="onChangesConfirm()" type="button" class="btn btn-success">Confirm</button>
    <button onclick="onCancel(@Model.id_wynajem)" type="button" class="btn btn-light">Cancel</button>
</div>

<div class="modal fade" id="wrongInputModal" tabindex="-1" role="dialog" aria-labelledby="wrongInputLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="wrongInputLabel">Incorrect input</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Payment value, number and date must be given!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    //Initializes components.
    $(document).ready(function() {
        $('.popover-dismiss').popover({
            trigger: 'focus'
        });

    });

    function onChangesConfirm() {
        var dateWrong = false;
        var rentalId = $('#rentalId')[0].value;
        var paymentBillId = $('#paymentBillId')[0].value;
        var paymentValue = $('#paymentBillValueInput')[0].value;
        var paymentBillDate = $('#paymentBillDateInput')[0].value;
        var paymentBillNumber = $('#paymentBillNumberInput')[0].value;
        var convertedPaymentDate = null;

        if (paymentBillDate !== null && paymentBillDate !== "") {
            try {
                convertedPaymentDate = new Date(paymentBillDate).toISOString();
            } catch (ex) {
                showPopupPaymentDate();
                dateWrong = true; //Remember that there was something wrong with ate and give user chance to correct it.
            }
        }
        if (!dateWrong) {
            if (!allNecessaryFieldsFilled(paymentValue, paymentBillDate, paymentBillNumber)) {
                $('#wrongInputModal').modal('show'); //show popup - one of required data chunks is incomplete.
            } else {
                $.post("@Url.Action("ConfirmPaymentBillEdit", "PaymentBills")",
                    {
                        rentalId: rentalId,
                        paymentBillId: paymentBillId,
                        paymentBillValue: paymentValue,
                        paymentBillDate: convertedPaymentDate,
                        paymentBillNumber: paymentBillNumber
                    }).then(function() {
                        location.href = '@Url.Action("Index", "PaymentBills")?rentalId=' + rentalId;
                    });
            }
        }
    }
    //Something was wrong with start date input. Show popup.
    function showPopupPaymentDate() {
        $('#paymentBillDateInput').popover('show');
    }
    function onCancel(rentalId) {
        location.href = '@Url.Action("Index", "PaymentBills")?rentalId=' + rentalId;
    }

    function allNecessaryFieldsFilled(paymentValue, paymentDate, paymentBillNumber) {
        if (paymentValue === null || paymentDate === null || paymentBillNumber ===null) {
            return false; //show popup - one of required data chunks is incomplete.
        } else if (paymentValue === "" || paymentDate === "" || paymentBillNumber === "") {
            return false; //show popup - one of required data chunks is incomplete.
        }

        return true;
    }
</script>
